@import url("https://fonts.cdnfonts.com/css/azonix");

@import url('https://fonts.cdnfonts.com/css/coco-gothic');
/* font-family: 'Coco Gothic', sans-serif; font-family: 'Coco Gothic Alternate', sans-serif; */

@font-face {
    font-family: "Kelpt Sans B2 Extra Bold";
    src: url("./fonts/kelpt-sansB2/KelptSansB2-ExtraBold.ttf");
}

html {
    background-color: #272a5e;
    margin: auto;
}

body {
    margin: 0px;
    justify-content: center;
    height: 100vh;
}

#top-page-container > h1 {
    font-family: "Azonix", sans-serif;
}

#head-intro {
    text-align: center;
    color: #fff;
    padding: 5px;
}

#top-page-container {
    display: block;
    position: sticky;
    margin: 20px 50px;
    padding: 0px;
    border: 15px solid #f0eeee;
    border-radius: 50px;
    box-shadow: 0 0 9px 6px rgba(255, 255, 255, 0.5);
    animation: shadow-movement 2s linear infinite;
}

@keyframes shadow-movement {
    0% {
        box-shadow: 0 0 13px 6px rgba(255, 255, 255, 0.3);
    }
    50% {
        box-shadow: 0 0 18px 10px rgba(255, 255, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 13px 6px rgba(255, 255, 255, 0.3);
    }
}

#cadastro {
    color: #fff;
    text-decoration: none;
}